<div class="page">
  <aside class="sidebar">
    <div class="logo">
      <div class="logo-icon">
        <img src="assets/logo.png" alt="Logo AgendaPro" />
      </div>

      <h2>AgendaPro</h2>
    </div>

    <nav>
      <a *ngIf="role === 'ADMIN'" routerLink="/agendamentos"> Agendamentos </a>

      <a *ngIf="role === 'ADMIN'" routerLink="/servicos"> Serviços </a>

      <a class="active"> Clientes </a>

      <a> Configurações </a>
    </nav>

    <button class="logout-button" (click)="sair()">Sair</button>
  </aside>

  <main class="content">
    <div class="topbar">
      <div>
        <h1>
          Clientes Agendados
        </h1>
        <p>
          Clientes agendados no meu serviço.
        </p>
      </div>
    </div>


    <div class="clientes-grid">
      <div class="cliente-card" *ngFor="let item of clientes">
        <div class="cliente-header">
          <div class="avatar">
            <img src="assets/perfil.png" alt="">
          </div>
          <div>

            <h3>
              {{ item.nome }}
            </h3>

            <span>
               <strong> {{ item.role }} - {{item.tipoPessoa}} </strong>
            </span>
          </div>
        </div>

        <div class="cliente-body">
          <div class="info">

            <strong>
              E-mail
            </strong>

            <p>
              {{ item.email }}
            </p>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
