<div class="login-container">

<div class="left-side">

  <div class="background-image"></div>

  <div class="overlay"></div>

  <div class="logo">

    <div class="logo-icon">
      <img src="assets/Logo.png" alt="Logo AgendaPro">
    </div>

    <h2>
      AgendaPro
    </h2>

  </div>

  <div class="badge">
    ✨ Nova era dos agendamentos
  </div>

  <h1>

    Sua agenda,<br>

    <span>
      organizada
    </span>

    do jeito certo.

  </h1>

  <p>
    Reservas, serviços e horários
    em um só lugar.
  </p>

  <div class="cards">

    <div class="info-card">

      <h3>
        ⏰ Horários inteligentes
      </h3>

      <p>
        Sem conflitos, sem esforço.
      </p>

    </div>

    <div class="info-card">

      <h3>
        🛡️ 100% seguro
      </h3>

      <p>
        Dados protegidos ponta a ponta.
      </p>

    </div>

  </div>

</div>
  <div class="right-side">
    <div class="login-box">

      <h1> {{ isCadastro ? 'Criar conta' : 'Bem-vindo de volta' }} </h1>

      <p class="subtitle">
        {{ isCadastro ? 'Cadastre-se para começar seus agendamentos.' : 'Entre para gerenciar seus agendamentos.' }}
      </p>

      <div class="tabs">

        <button [class.active]="!isCadastro" (click)="isCadastro = false">
          Entrar
        </button>

        <button [class.active]="isCadastro" (click)="isCadastro = true">
          Cadastrar
        </button>

      </div>

      <div *ngIf="isCadastro">

        <div class="form-group">

          <label> Nome </label>
          <input type="text" placeholder="Seu nome" [(ngModel)]="usuario.nome" />

        </div>

        <div class="form-group">
          <label> Tipo de conta </label>

          <select [(ngModel)]="usuario.tipoPessoa" (change)="alterarTipoPessoa()">

            <option value="CPF"> Pessoa Física </option>
            <option value="CNPJ"> Pessoa Jurídica </option>

          </select>
        </div>

        <div class="form-group" *ngIf="usuario.tipoPessoa === 'CPF'">

          <label> CPF </label>
          <input type="text" placeholder="000.000.000-00" maxlength="14" [(ngModel)]="usuario.documento"
            (input)="formatarCPF($event)" />

        </div>

        <div class="form-group" *ngIf="usuario.tipoPessoa === 'CNPJ'">

          <label> CNPJ </label>
          <input type="text" placeholder="00.000.000/0000-00" maxlength="18" [(ngModel)]="usuario.documento"
            (input)="formatarCNPJ($event)" />

        </div>
      </div>

      <div class="form-group" *ngIf="!isCadastro">

        <label> E-mail </label>
        <input type="email" placeholder="voce@exemplo.com" [(ngModel)]="email" />

      </div>

      <div class="form-group" *ngIf="isCadastro">

        <label> E-mail </label>
        <input type="email" placeholder="voce@exemplo.com" [(ngModel)]="usuario.email" />

      </div>

      <div class="form-group" *ngIf="!isCadastro">

        <label> Senha </label>
        <input type="password" placeholder="********" [(ngModel)]="senha" />

      </div>

      <div class="form-group" *ngIf="isCadastro">

        <label> Senha </label>
        <input type="password" placeholder="********" [(ngModel)]="usuario.senha" />

      </div>

      <button class="login-button" *ngIf="!isCadastro" (click)="entrar()">
        Entrar na minha conta
      </button>

      <button class="login-button" *ngIf="isCadastro" (click)="cadastrar()">
        Criar conta
      </button>

    </div>
  </div>
</div>
