<div class="page" *ngIf="role === 'ADMIN'">
  <aside class="sidebar">
    <div class="logo">
      <div class="logo-icon">
        <img src="assets/logo.png" alt="Logo AgendaPro" />
      </div>

      <h2>AgendaPro</h2>
    </div>

    <nav>
      <a *ngIf="role === 'ADMIN'" routerLink="/agendamentos"> Agendamentos </a>
      <a class="active"> Serviços </a>

      <a *ngIf="role === 'ADMIN'" routerLink="/clientes"> Clientes </a>

      <a> Configurações </a>
    </nav>

    <button class="logout-button" (click)="sair()">Sair</button>
  </aside>

  <main class="content">
    <div class="topbar">
      <div>
        <h1>Serviços</h1>

        <p>Gerencie seus serviços e horários.</p>
      </div>

      <button class="new-button" (click)="abrirServicos()">
        {{ mostrarFormularioServico ? 'Fechar' : '+ Novo serviço' }}
      </button>
    </div>

    <!-- FORM -->

    <div class="form-card" *ngIf="mostrarFormularioServico">
      <h2>
        {{ editando ? 'Editar serviço' : 'Criar serviço' }}
      </h2>

      <div class="form-grid">
        <input type="text" placeholder="Nome do serviço" [(ngModel)]="servico.nome" />
        <input type="text" placeholder="Descrição" [(ngModel)]="servico.descricao" />
        <input type="text" placeholder="Endereço" [(ngModel)]="servico.endereco" />
        <input type="text" placeholder="Foto URL" [(ngModel)]="servico.foto" />
        <input type="number" placeholder="Preço" [(ngModel)]="servico.preco" />
        <input type="number" placeholder="Duração" [(ngModel)]="servico.duracaoMinutos" />

        <div class="full-width">
          <label class="label"> Dias de funcionamento </label>

          <div class="days-grid">
            <label class="day-item" *ngFor="let dia of diasSemana">
              <input
                type="checkbox"
                (change)="toggleDia(dia)"
                [checked]="servico.diasFuncionamento.includes(dia)"
              />

              {{ traduzirDia(dia) }}
            </label>
          </div>
        </div>

        <input type="time" [(ngModel)]="servico.horaInicio" />

        <input type="time" [(ngModel)]="servico.horaFim" />

        <!-- <input type="number" placeholder="Intervalo"  default="30" [(ngModel)]="servico.intervaloMinutos" /> -->
      </div>

      <button class="save-button" (click)="salvar()">
        {{ editando ? 'Atualizar serviço' : 'Salvar serviço' }}
      </button>
    </div>

    <div class="services-grid">
      <div class="service-card" *ngFor="let item of servicos">
        <div class="service-header">
          <img [src]="item.foto" class="service-image" />

          <div>
            <h3>
              {{ item.nome }}
            </h3>

            <h4>
              {{ item.descricao }}
            </h4>

            <p> <a class="link" [href]="'https://www.google.com/maps/search/?api=1&query=' + item.endereco" target="_blank"> {{ item.endereco }} </a> </p>

            <span> Horário de funcionamento: <strong>{{ item.horaInicio }} - {{ item.horaFim }} </strong></span>

            <br />

            <span>
              Duração: <strong>{{ item.duracaoMinutos }}</strong>

              minutos
            </span>

            <!-- <span>
              Intervalo:
              {{ item.intervaloMinutos }}
              min
            </span> -->

            <div class="dias-tags">
             <span class="title"> Dias de funcionamento: </span>
              <span class="dia-tag" *ngFor="let dia of item.diasFuncionamento">
               {{ traduzirDia(dia) }}
              </span>
            </div>
          </div>
        </div>

        <div class="price">R$ {{ item.preco }}</div>

        <div class="card-buttons">
          <button class="edit-button" (click)="editar(item)">Editar</button>

          <button class="delete-button" (click)="excluir(item.id)">Excluir</button>
        </div>
      </div>
    </div>
  </main>
</div>
