@import "bootstrap-icons/font/bootstrap-icons.css";


html,
body {
  margin: 0 !important;
  padding: 0 !important;

  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

app-root {
  display: block;

  width: 100%;
  min-height: 100vh;
}
